@import "tailwindcss";

@theme {
  /* LIGHT (default) */
  --color-bg: #ffffff;
  --color-surface: #f5f5f5;
  --color-surface-hover: #eaeaea;
  --color-text: #111827;

  --color-primary1: #2d3330;
  --color-primary2: #a6b6b2;
  --color-primary1-hover: #343a38;

  --color-secondary1: #C5A16F;
  --color-bgchat: #e3fbe7;
}

/* DARK MODE */
.dark {
  --color-bg: #1a1a19;
  --color-surface: #272726;
  --color-surface-hover: #333332;
  --color-text: #f9fafb;

  --color-primary1: #f9fafb;
  --color-primary1-hover: #525957;

  /* --color-secondary1: #d4b486; */
  --color-bgchat: #2a6d65;
}
@plugin "daisyui";


/* hide scrollbar tapi tetap bisa scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.hero-gradient {
  background-image: linear-gradient(to right, 
    #b91c1c 45%, /* Titik akhir warna merah (45% dari kiri) */
    #ec4899 50%, /* Titik awal warna pink (50% dari kiri) */
    #ec4899 55%, /* Titik akhir warna pink (55% dari kiri) */
    #a855f7 60%, /* Titik awal warna ungu (60% dari kiri) */
    #a855f7 65%, /* Titik akhir warna ungu (65% dari kiri) */
    #1f2937 70%  /* Titik awal warna gelap (70% dari kiri) */
  );
  /* Tambahkan tinggi dan lebar untuk melihat efeknya */
  height: 300px;
  width: 100%;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}